.leftdiv {
    width: 30%;
  }

.rightdiv {
    width: 70%;
    text-align: left;
    margin-left: 5%;
  }

.parentdiv {
    display: flex; 
    width: 600px;
    align-self: center;
  }

.button {
  margin-top: 30px;
  margin-right: 4px;
  width: 110px;
  font-size: 10px;
  height: 24px;
}

  svg path, svg circle {
    stroke: #000;
    stroke-width: 0.25;
    stroke-linecap: round;
    fill: none;
    }
